
<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"

>
<body>
<div class="container-fluid mt-2" layout:fragment="contentForView">
    <div class="card mt-1">
        <div class="card-header">
            <h3>Liste des Clients</h3>
        </div>
        <div class="card-body">
            <div class="float-end" >
                <a th:href="@{/admin/form-client}" class="btn btn-outline-info"> Nouveau</a>
            </div>
            <br>
            <form class="d-flex my-2" method="get" th:action="@{/liste-clients}">
                <input class="form-control me-2 w-50" type="search"
                       name="keyword"
                       th:value="${keyword}"
                       placeholder="Taper un telephone" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Chercher</button>
            </form>

            <table class="table table-bordered">
                <thead>
                <th>Nom et Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Commandes</th>
                </thead>
                <tbody>
                <tr th:each="cl:${clients}">
                    <td th:text="${cl.nomComplet}"></td>
                    <td th:text="${cl.telephone}"></td>
                    <td th:text="${cl.adresse}"></td>
                    <td ><a type="button" class="btn btn-sm btn-outline-success"
                            th:href="@{/liste-cmde-client(id=${cl.id})}">Mes Commandes</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example mt-3 mr-1 ">
            <ul class="pagination float-end">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item" th:each="p,status:${pages}"
                ><a  th:class="${status.index==currentPage ? 'page-link  active': 'page-link '}"
                     th:text="${status.index+1}"
                     th:href="@{liste-clients(page=${status.index},keyword=${keyword})}"
                ></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>

</div>
</body>
</html>