<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="connexion"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="contentForView">
    <div class="card">
        <div class="card-body">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div>
                    <input type="text" name="username" placeholder="Username"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password"/>
                </div>
                <input type="submit" value="Log in" />
            </form>
        </div>
    </div>

</div>
</body>
</html>